
body{
  margin: 0;
  padding: 10%;
  background: beige;
  .slider-container{
    margin: 50px 0 0 0;
    width: 266px;
    padding: 0 5px;
    .range-slider{
      height: 15px;
      width: 100%;
      background: darkgray;
      border-radius: 5px;
      position: relative;
    }
    .range-slider-thumb{
      position: absolute;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      background: red;
      bottom: -4px;
      cursor: pointer;
    }
    .range-slider-progress{
      height: 100%;
      width: 0;
      border-radius: 5px;
      background: blue;
    }
    .range-slider-scale {
      margin: 5px 0;
      width: 94%;
      height: 30px;
      display: flex;
      position: absolute;
      left: 13px;
      .range-slider-scale-item{
        &_text{
          height: 8px;
          width: 1px;
          background: black;
          margin-right: 12px;
        }
        &_small{
          width: 1px;
          height: 4px;
          background: black;
          margin-right: 11px;
        }
      }


    }
  }
}