
body {
  margin: 0;
  padding: 10%;
  background: beige;

  .slider-container {
    margin: 50px 0 0 0;
    width: fit-content;
    height: fit-content;
    padding: 0 5px;
    position: relative;

    .range-slider {
      height: 8px;
      width: 300px;
      display: block;
      background: darkgray;
      border-radius: 3px;
      position: relative;
      .range-slider-pointer {
        z-index: 3;
        display: block;
        position: absolute;
        height: 23px;
        width: 23px;
        border-radius: 50%;
        background: red;
        bottom: -7px;
        cursor: pointer;
      }
      .range-slider-progress {
        position: relative;
        height: 100%;
        width: 0;
        border-radius: 3px;
        background: blue;
      }
      .range-slider-value{
        width: 25px;
        height: 25px;
        background: blue;
        position: absolute;
        bottom: 25px;
        color: #ff0000;
        text-align: center;
      }
      .range-slider-scale {
        margin: 5px 0;
        width: 100%;
        height: 30px;
        display: flex;
        position: absolute;
      }

      &_vertical {
        height: 300px;
        width: 8px;
        background: darkgray;
        border-radius: 3px;
        position: relative;
        .range-slider-progress_vertical{
          position: absolute;
          justify-content: flex-end;
          height: 0;
          width: 100%;
          border-radius: 3px;
          background: blue;
          transform: rotate(180deg);
          bottom: 0;
        }
        .range-slider-pointer{
          z-index: 10;
          position: absolute;
          height: 25px;
          width: 25px;
          border-radius: 50%;
          background: red;
          bottom: 0;
          right: -8px;
          cursor: pointer;

        }
        .range-slider-scale {
          width: 30px;
          height:100%;
          position: absolute;
          right: 10px;
        }
        .range-slider-value{
          width: 25px;
          height: 25px;
          background: blue;
          position: absolute;

          left: 20px;
          color: #ff0000;
          text-align: center;
        }

      }

    }
  }
}